
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@theme{
    --color-primary : #2563eb;
    --color-secondary : #8EC7FD;
    --color-accent : #fbbf24;
    --color-neutral : #1f2937;
    --color-base-100 : #ffffff;
    --color-info : #3b82f6;
    --color-success : #22c55e;
    --color-warning : #f59e0b;
    --color-error: #ef4444;
}

body {
    font-family: 'Poppins', sen-serif;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sen-serif;
}
